<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOwSw14XNQTAmYOKnGaji63TZMybSvJ9w</string>
	<key>GCM_SENDER_ID</key>
	<string>797942402347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rpalm01-star.VigilantEar</string>
	<key>PROJECT_ID</key>
	<string>vigilantear-research</string>
	<key>STORAGE_BUCKET</key>
	<string>vigilantear-research.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797942402347:ios:62cc3110d8818298ea096e</string>
</dict>
</plist>